.App {
  text-align: center;
  background-color: rgb(8, 8, 103);
  color: rgba(255, 255, 255, 0.618);
}

* {
  background-color: rgb(8, 8, 103);
}

button {
  background-color: rgba(255, 255, 255, 0.812);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

/* Articles */

#articles-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
}

.article-image {
  max-width: 150px;
  height: auto;
  border-radius: 20px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.article-context {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .article-image {
    max-width: 200px;
    height: auto;
  }
}

.each-article {
  margin-top: 25px;
  margin-right: 20px;
}

/* Comments */

#comments-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
}

.each-comment {
  margin-top: 25px;
  margin-right: 20px;
  border: solid rgba(255, 255, 255, 0.618);
  border-radius: 10px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
